@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .button {
    @apply w-full px-6 py-4 rounded-md bg-orange-600 font-semibold transition 
    hover:scale-95 disabled:opacity-60 sm:w-fit;
  }

  .field {
    @apply max-w-full flex flex-col gap-2 sm:max-w-sm;
  }

  .input {
    @apply bg-zinc-900 px-3 py-2 truncate;
  }

  .input-small {
    @apply bg-zinc-700 px-3 py-2 truncate max-w-[6rem];
  }

  .link {
    @apply font-semibold underline hover:text-orange-500;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}
