@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .button {
    @apply flex justify-between items-center gap-2 px-6 py-4 rounded-md 
    bg-orange-600 font-semibold transition hover:scale-95;
  }

  .field {
    @apply max-w-sm flex flex-col gap-2;
  }

  .input {
    @apply bg-zinc-900 px-3 py-2 truncate;
  }

  .link {
    @apply font-semibold underline hover:text-orange-500;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}
